/* <tagname style="property:value;"> /*

/* To apply universaly*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Agency FB';
}

/* Style for the header */
body {
    /* Select background image */
    background-image: url(../background.jpg);

    /* Select background image with overlay */
    /* background-image: repeating-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background.jpg); */

    /* Adjust image height for full vertical coverage*/
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main ul {
    display: block;
    list-style: none;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

/* Style for the list*/
.main ul li {
    float: left;
    padding: 5px 10px; /* Vertical Horizontal*/
}


/* Style for each of the list*/
.main ul li a {
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* Style for hover*/
.main ul li a:hover {
    background-color: white;
    color: red;
    font-size: 25px;
    text-decoration: underline;
    clear: both;
}




/*
@keyframes move {
    0% {margin-left: 0px; margin-right: 0px;}
    50% {margin-left: -2.5px; margin-right: -2.5px; color:#53cbf1;}
    100% {margin-left: 0px; margin-right: 0px;}
}
li a:hover {
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 2s;
}
*/




/* Keep home in foucs when we are in its sub-menu*/
/* write logic for above */




/* To not display the sub menus by default*/
.main ul li ul {
    display: none;
}

/* To reset the list style so that sub menu doesn't come Horizontally*/
.main ul li ul li {
    clear: both;
}

.main ul li:hover ul {
    display: block;
    list-style-type: none;
    position: absolute;
    background-color: white;
    margin-top: 0px;
    font-size: 20px;
}

.main ul li:hover ul li a {
    color: black;
}

.main ul li:hover ul li a:hover {
    background-color: white;
    color: red;
    font-size: 20px;
    text-decoration: underline;
}




.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: wheat;
    font-size: 100px;
    font-style: italic;
}

.button ul {
    position: absolute;
    list-style-type: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.button ul li {
    float: left;
    padding: 5px 10px; /* Vertical Horizontal*/
}

.button ul li a {
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.5s ease;
    text-decoration: none;
}

.button ul li a:hover {
    background-color: forestgreen;
    color: #fff;
    font-size: 35px;
    transition: all 0.5s ease;
    text-decoration: underline;
}




/* Set image norms*/
.logo img {
    float: left;
    width: 200px;
    height: auto;
    padding: 40px 40px;
}

/* Add spacing between icon and name */
.main .fa {
    margin-right: 5px;
}