* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS';
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #667eea 0%, #764ba2 100%);
    filter: hue-rotate(120deg);
    animation: animate 15s linear infinite;
}

@keyframes animate{
    0%{filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg);}
}

.box {
    position: relative;
    padding: 50px;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
}

.box::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%, trasparent 50%, rgba(255,255,255,0.3) 100%);
}

.box .form {
    position: relative;
    width: 100%;
}

.box .form h1 {
    color: white;
    letter-spacing: 2px;
    margin-bottom: 50px;
    text-align: center;
}

.box .form .inputbox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.box .form .inputbox .fa {
    margin-right: 5px;
    color: rgba(255,255,255,0.5);
}

.box .form .inputbox input {
    outline: none;
    border: 2px solid rgba(255,255,255,0.3);
    opacity: 0.5;
    padding: 5px 5px;
    font-weight: 600;
}

.box .form .remember {
    color: white;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.box .form .loginbox {
    position: relative;
    margin-bottom: 30px;
    width: 103px;
    padding-left: 75px;
}

.box .form .loginbox input {
    color: black;
    font-weight: bold;
    padding: 3px 3px;
    width: 100px;
    letter-spacing: 1px;
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 25px;
    opacity: 0.5;
}

.box .form p {
    text-align: center;
    margin-bottom: 20px;
}

.box .form p a {
    color: white;
    text-align: center;
}

